* {
  /* border: 1px solid green; */
}

form.searchBar {
  padding-left: 50px;
  width: 700px;
}

/* Style the search field */
form.searchBar input[type=text] {
  padding: 5px;
  font-size: 17px;
  border: none;
  float: left;
  width: 90%;
  background: #f1f1f1;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

/* Style the submit button */
form.searchBar button {
  float: left;
  width: 10%;
  padding: 5px;
  background: #5b218a;
  color: white;
  font-size: 17px;
  border: none;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

form.searchBar button:hover {
  background: #330033;
}

/* Clear floats */
form.searchBar::after {
  content: "";
  clear: both;
  display: table;
}
